AlvinJuniorBot/config.py
AlvinJuniorBot/*.session
AlvinJuniorBot/*.session-journal
AlvinJuniorBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
AlvinJuniorBot/modules/helper_funcs/temp.txt
AlvinJuniorBot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
AlvinJuniorBot.session-journal
updates.txt
*.exe
